/*
 * This is the main file with styles for my blog. It is mostly a set of
 * useful classes that can be applied anywhere within the website. It
 * also features some code to normalize CSS between various browsers.
 *
 * Copyright © 2021 Maxim Rebguns
 *
 * This file is part of The Blog of Maxim Rebguns.
 *
 * The source code of this website is free software: you can redistribute
 * it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * The source code of this website is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See
 * the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with the source code for this website.  If not, see
 * <https://www.gnu.org/licenses/>.
 */

@import "variables.scss";
@import "theme.scss";

/*
 * Reboot.
 */

/* CSS Reset -- removes default padding and margins from various elements.
   This helps remove whitespace from the top of the page in Firefox, for
   example. */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*
 * HTML and Body styling.
 */

body { background-color: $theme-light; }
@media only screen and (prefers-color-scheme: dark) {
  body { background-color: $theme-primary; }
}

/*
 * Classes for block elements.
 */
.narrow {
  margin: 0 5%;
}

@media only screen and (min-width: $media-small) {
  .narrow { margin: 0 10%; }
}

@media only screen and (min-width: $media-medium) {
  .narrow { margin: 0 15%; }
}

@media only screen and (min-width: $media-large) {
  .narrow { margin: 0 20%; }
}

@media only screen and (min-width: $media-xlarge) {
  .narrow { margin: 0 25%; }
}

/*
 * Global site header.
 */

.global-header { margin: 20px 0; }
.global-site-title {
  font: bold 25px "Heebo", sans-serif;
  color: $theme-primary;
  text-align: center;
}

ul.global-nav {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
ul.global-nav {
  li {
    display: inline-block;
    margin: 0 5px;
    
    flex: 1 0 auto;
    
    font: 300 20px "Mukta", sans-serif;
    text-align: center;
  }

  li a { color: $theme-dark-accent; }
  li a:focus,
  li a:hover, { color: $theme-dark; }

  li a.global-nav-active {
    color: $theme-dark;
    font-style: italic;
  }
  li a.global-nav-active:focus,
  li a.global-nav-active:hover { color: $theme-dark-accent; }
}

@media only screen and (min-width: $media-medium) {
  .global-site-title { font-size: 30px; }
  ul.global-nav li { font-size: 25px; }
}

@media only screen and (prefers-color-scheme: dark) {
  .global-site-title { color: $theme-light-accent; }
  ul.global-nav {
    li a { color: $theme-light; }
    li a:focus,
    li a:hover { color: $theme-light-accent; }

    li a.global-nav-active { color: $theme-light-accent; }
    li a.global-nav-active:focus,
    li a.global-nav-active:hover { color: $theme-light; }
  }
}

/* Styling for text that's left and right aligned:
   |Left aligned            Right aligned| */
.split-align {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.split-align p { flex: 1 0 auto; }

.split-align p:nth-child(2) { text-align: right; }


/*
 * For footer-like elements that need spacing from the
 * main content.
 */
.global-footer { margin-top: 40px; }

/*
 * "Stylish" page content styling.
 */

.global-stylish {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 20px;
    margin-bottom: 25px;
    
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    overflow-wrap: break-word;
    
    color: $theme-primary;
    text-align: center;
  }

  h1 { font-size: 30px; }
  h2 { font-size: 28px; }
  h3 { font-size: 25px; }
  h4 { font-size: 23px; }
  h5 { font-size: 20px; }
  h6 {
    font-size: 20px;
    font-style: italic;
  }

  li,
  p,
  th,
  td,
  dt,
  dd {
    font: 18px 'Lato', sans-serif;
    color: $theme-dark;
    overflow-wrap: break-word;
  }
  li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  a { color: $theme-dark-accent; }
  a:visited { color: #5B2934; }
  a:focus,
  a:hover,
  a:active {
    color: $theme-light;
    background-color: $theme-dark-accent;
  }

  strong { background-color: #dfc3ff; }
  p code {
    padding: 2px 5px;
    margin-left: 3px;
    margin-right: 2px;

    font-family: "DM Mono", monospace;
    color: $theme-light;
    background-color: $theme-dark-accent;
    border-radius: 5px;
  }

  blockquote {
    margin-top: 20px;
    margin-bottom: 20px;
    
    margin-left: 5px;
    border-left: 7px solid $theme-dark-accent;
  }
  blockquote p { margin-left: 10px; }

  ul,
  ol {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
  }

  .task-list-item-checkbox { margin-right: 10px; }

  pre {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;

    overflow-x: scroll;

    font: 15px "DM Mono", monospace;
    /* The Dracula theme sets the color and background color. */
    /*background-color: $theme-light-accent;*/
  }

  hr { border: 2px solid $theme-dark-accent; }

  img {
    width: 100%;
    height: auto;
  }

  table { border-collapse: collapse; }
  th,
  td {
    padding: 15px;
    border-bottom: 1px solid $theme-dark-accent;
  }
  th {
    font-weight: bold;
    color: $theme-light;
    background-color: $theme-dark-accent;
  }
  td { color: $theme-dark; }

  sup, sub { font-size: 15px; } 
  sup { vertical-align: super; }
  sub { vertical-align: sub; }

  dt { font-weight: bold; }
  dd {
    margin-left: 30px;
    padding-left: 0px;
  }
}

@media only screen and (min-width: $media-medium) {
  .global-stylish {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 { text-align: left; }
    h1 { font-size: 40px; }
    h2 { font-size: 35px; }
    h3 { font-size: 30px; }
    h4 { font-size: 25px; }
    h5,
    h6 { font-size: 20px; }
  }
}

@media only screen and (min-width: $media-large) {
  .global-stylish {
    h1 { font-size: 50px; }
    h2 { font-size: 42px; }
    h3 { font-size: 35px; }
    h4 { font-size: 30px; }
    h5,
    h6 { font-size: 25px; }
    li,
    p,
    th,
    td,
    dt,
    dd { font-size: 23px; }

    ul,
    ol { padding-left: 35px; }

    pre { font-size: 20px; }

    sup, sub { font-size: 20px; } 
  }
}

@media only screen and (prefers-color-scheme: dark) {
  .global-stylish {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 { color: $theme-light; }

    li,
    p,
    dt,
    dd { color: $theme-light-accent; }

    a { color: $theme-light; }
    a:visited { color: #DEAEFF; }
    a:focus,
    a:hover,
    a:active {
      color: $theme-primary;
      background-color: $theme-light;
    }

    strong { background-color: #3d0087; }
    p code {
      color: $theme-primary;
      background-color: $theme-light-accent;
    }

    blockquote { border-left-color: $theme-light-accent; }

    hr { border-color: $theme-light; }

    th,
    td { border-bottom-color: $theme-light-accent; }
    th {
      color: $theme-primary;
      background-color: $theme-light-accent;
    }
    td { color: $theme-light-accent; }
  }
}

.global-stylish h1.global-title { text-align: center; }
