/*
 * This file defines theme colors, fonts and other stylistic variables and
 * classes used site-wide.
 *
 * Copyright © 2021 Maxim Rebguns
 *
 * This file is part of The Blog of Maxim Rebguns.
 *
 * The source code of this website is free software: you can redistribute
 * it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * The source code of this website is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See
 * the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with the source code for this website.  If not, see
 * <https://www.gnu.org/licenses/>.
 */

/*
 * Colors.
 */
$theme-light:        #F6F6F3;
$theme-light-accent: #93A2D5;
$theme-primary:      #240050;
$theme-dark-accent:  #803A49;
$theme-dark:         #1B111B;

/*
 * Fonts.
 */

/* Used for the site title and other major titles. */
@font-face {
  font-family: "Heebo";
  src: url("/assets/fonts/Heebo-Bold.woff2") format("woff2"),
       url("/assets/fonts/Heebo-Bold.woff") format("woff"),
       url("/assets/fonts/Heebo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Used for the site subtitle and code blocks. */
@font-face {
  font-family: "DM Mono";
  src: url("/assets/fonts/DMMono-Regular.woff2") format("woff2"),
       url("/assets/fonts/DMMono-Regular.woff") format("woff"),
       url("/assets/fonts/DMMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Used for the navbar. */
@font-face {
  font-family: "Mukta";
  src: url("/assets/fonts/Mukta-Light.woff2") format("woff2"),
       url("/assets/fonts/Mukta-Light.woff") format("woff"),
       url("/assets/fonts/Mukta-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* The sans-serif heading font. */
@font-face {
  font-family: "Work Sans";
  src: url("/assets/fonts/WorkSans-MediumItalic.woff2") format("woff2"),
       url("/assets/fonts/WorkSans-MediumItalic.woff") format("woff"),
       url("/assets/fonts/WorkSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("/assets/fonts/WorkSans-Medium.woff2") format("woff2"),
       url("/assets/fonts/WorkSans-Medium.woff") format("woff"),
       url("/assets/fonts/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* The sans-serif text font. */
@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Regular.woff2") format("woff2"),
       url("/assets/fonts/Lato-Regular.woff") format("woff"),
       url("/assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
