---
layout: page
title: Blog
disable_auto_title: true
---

{% comment %}
The main page for my blog, which lists the latest posts.

Copyright © 2021 Maxim Rebguns

This file is part of The Blog of Maxim Rebguns.

The source code of this website is free software: you can redistribute
it and/or modify it under the terms of the GNU Affero General Public
License as published by the Free Software Foundation, either version 3
of the License, or (at your option) any later version.

The source code of this website is distributed in the hope that it
will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See
the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public
License along with the source code for this website.  If not, see
<https://www.gnu.org/licenses/>.
{% endcomment %}


<h1 class="global-title">
  Blog
  {% if paginator.page != 1 %}
  &ndash; page {{ paginator.page }} of {{ paginator.total_pages }}
  {% endif %}
</h1>

<p>
  My blog is a place where I write about various topics including
  programming, aviation, mathematics and other subjects that interest
  me. My goal is to write a post at least once every two weeks,
  although that depends on how busy I get.
</p>

<section>
  <h2>Latest posts</h2>
  {% for post in paginator.posts %}
  <article>
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    {{ post.excerpt }}
  </article>
  {% endfor %}
</section>


<div class="split-align global-footer">
  {% if paginator.previous_page %}
  <p>
    <a href="{{ paginator.previous_page_path }}">
      &#x3C; Newer posts
    </a>
  </p>
  {% else %}
  <p>No newer posts</p>
  {% endif %}
  
  {% if paginator.next_page %}
  <p>
    <a href="{{ paginator.next_page_path }}">
      Older posts &#x3E;
    </a>
  </p>
  {% else %}
  <p>No older posts</p>
  {% endif %}
</div>
