---
layout: default
---

{% comment %}
A layout for most pages on this site, featuring a navigation bar
and footer.

Copyright © 2021 Maxim Rebguns

This file is part of The Blog of Maxim Rebguns.

The source code of this website is free software: you can redistribute
it and/or modify it under the terms of the GNU Affero General Public
License as published by the Free Software Foundation, either version 3
of the License, or (at your option) any later version.

The source code of this website is distributed in the hope that it
will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See
the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public
License along with the source code for this website.  If not, see
<https://www.gnu.org/licenses/>.
{% endcomment %}

<div class="narrow">
  <header class="global-header">
    <p class="global-site-title">Maxim Rebguns</p>
    <nav>
      <ul class="global-nav">
        {% for item in site.data.navigation %}
        <li>
          <a href="{% link {{ item.page }} %}"
             {% if page.path == item.page %}
             class="global-nav-active"
             {% endif %}>
            {{ item.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <main class="global-stylish">
    {% unless page.disable_auto_title %}
    {% if page.title %}
    <h1 class="global-title">{{ page.title }}</h1>
    {% endif %}
    {% endunless %}

    {{ content }}
  </main>

  <footer class="global-stylish global-footer">
    <p>
      <i>Copyright &copy; Maxim Rebguns, 2021</i> &ndash;
      <a href="https://github.com/mrmaxguns/mrmaxguns.github.io">
        View source on GitHub
      </a>
    </p>
  </footer>
</div>
