---
layout: page
---

{% comment %}
The post layout is designed for posts and adds features such as tags
and the post date to the default page layout.

Copyright © 2021 Maxim Rebguns

This file is part of The Blog of Maxim Rebguns.

The source code of this website is free software: you can redistribute
it and/or modify it under the terms of the GNU Affero General Public
License as published by the Free Software Foundation, either version 3
of the License, or (at your option) any later version.

The source code of this website is distributed in the hope that it
will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See
the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public
License along with the source code for this website.  If not, see
<https://www.gnu.org/licenses/>.
{% endcomment %}

<article>
  <div>
    <h1 class="global-title">
      {% if page.title %}
      {{ page.title }}
      {% else %}
      Untitled Post
      {% endif %}
    </h1>
    
    {% unless page.tags == empty %}
    <p class="post-tag-list">
      {% for tag in page.tags %}
      <span class="post-tag">{{ tag | replace: "_", " " }}</span>
      {% endfor %}
    </p>
    {% endunless %}

    <p class="post-date">{{ page.date | date_to_string: "ordinal", "US" }}</p>
  </div>
  <div>
    {{ content }}
  </div>
</article>

<div>
  <p class="post-back">
    <a href="{% link blog/index.html %}">Back to the list of posts</a>
  </p>
</div>
